/* global.css */

@tailwind preflight;

@tailwind components;

@tailwind utilities;

/* Variables */
:root {
  /* Polar Night */
  --nord0: #2E3440;
  --nord1: #3B4252;
  --nord2: #434C5E;
  --nord3: #4C566A;
  /* Snow Storm */
  --nord4: #D8DEE9;
  --nord5: #E5E9F0;
  --nord6: #ECEFF4;
  /* Frost */
  --nord7: #8FBCBB;
  --nord8: #88C0D0;
  --nord9: #81A1C1;
  --nord10: #5E81AC;
  /* Aurora */
  --nord11: #BF616A;
  --nord12: #D08770;
  --nord13: #EBCB8B;
  --nord14: #A3BE8C;
  --nord15: #B48EAD;
  /* Misc */
  --white: #ffffff;
  --black: #000000;
  --highlight-blue: rgba(76, 86, 106, .3);
  --bg-colour: #F2F4F8;
}

body {
  background-color: var(--bg-colour);
  color: var(--nord3);
}

footer {
  background-color: var(--nord1);
}

/* Text */
.text-nord0 {
  color: var(--nord0);
}
.text-nord1 {
  color: var(--nord1);
}
.text-nord2 {
  color: var(--nord2);
}
.text-nord3 {
  color: var(--nord3);
}

/* Divider */
.divider-wrapper {
    display: block;
    bottom: -1px;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: transparent;
    pointer-events: none;
    user-select: none;
    vertical-align: middle;
    overflow: hidden;
}
.wave1 {
    fill: var(--nord3);
    transition: fill 400ms ease-in-out 0s;
}
.wave2 {
    fill: var(--nord2);
    transition: fill 400ms ease-in-out 0s;
}
.wave3 {
    fill: var(--nord1);
    transition: fill 400ms ease-in-out 0s;
}

/* Social Icons */
.social-icon {
  height: 2rem;
  width: 3rem;
  fill: var(--nord4)
}
.social-icon :hover {
  fill: var(--white)
}

/* Misc */
.bottom-5 {
  bottom: 5px;
}
.font-hightlight {
  background-color: var(--highlight-blue);
}

/* Footer */
.footer-text {
  color: var(--nord4);
}

/* Hero Icon */
@media (min-width: 1500px) {
  .hero-padding {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
}

@media (min-width: 1800px) {
  .hero-padding {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
  }
}

@media (min-width: 2100px) {
  .hero-padding {
    padding-left: 15rem !important;
    padding-right: 15rem !important;
  }
}

@media (min-width: 2400px) {
  .hero-padding {
    padding-left: 20rem !important;
    padding-right: 20rem !important;
  }
}